.app_dark_theme {
  --bg-color: #1c1c1c;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #04ff04;
  --btn-primary-color: #049604;
  --inveted-primary-color: #282828;
  --inveted-secondary-color: #0449e0;
  --sidebar-link-bg: #c8c8c8;
  --sidebar-icon-bg: #1c1c1c;
  --login-btn-bg: #ffffff;
}
