.counter {
  color: greenyellow;
  font-size: 40px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 7px;
  background: #000;
  color: white;
  outline: none;
  cursor: pointer;
}
